*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    
}



.logo{
    background-color: black;
    
    
}
#img1{
    width: 100px;
    height: 50px;
    margin-left: 30px;
    
    
}
h2{
    color: white;
    margin-top: 50px;
    margin-left: 50px;
    /*text-align: center;*/
    
}
.dull{
    width: 200px;
    margin-top: 30px;
    margin-left: 30px;
}
.midimg{
    width: 90%;
    height: 160px;
    margin: 0 auto;
    position: relative;
    
}
.firstimg{
    float: left;
    margin: 0 auto;
    margin-left: 23px;
    image-rendering:-webkit-optimize-contrast;
    transform:translateZ(0);
    backface-visibility:hidden;
    
}
#img2{
    width: 230px;
    height: 130px;
    object-fit: fill;
    margin: 0px 10px 25px 20px;  
    image-rendering:-webkit-optimize-contrast;
    transform:translateZ(0);
    backface-visibility:hidden;  
}
/**/
.midimg1{
    width: 90%;
    height: 130px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
    
    

}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    }
    body {
        font-family: 'Pretendard-Regular';
        }
.second-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}
.firstimg1{
    float: left;
    margin: 0 auto;
    margin-left: 23px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 25px;
    image-rendering:-webkit-optimize-contrast;
    transform:translateZ(0);
    backface-visibility:hidden;
    
    
}
#img3{
    width: 230px;
    height: 130px;
    float: left;
    margin: 0px 0px 0px 20px;
    animation-duration: 5s;
    
    
}
.font-gray{
    color: gray;
}

.firstimg:hover{
    transform: scale(1.1);
    cursor: pointer;
    
}
.firstimg1:hover{
    transform: scale(1.1);
    cursor: pointer;
    animation-duration: 2s;
}

.logout {
    font-size: 20px;
    
}
.human{
    margin-left: 100px;
    font-size: 11px;

}
.profile-image {
    width: 30px;
    height: 30px;
    border: 1px solid white;
}

.header {
    height: 50px;
    background-color: #1f1f1f;

    position: sticky;
    top: 0px;
    z-index: 1;

    display: flex;
    justify-content: space-between;
}
.home, .movie, .drama, .logo, .search, .logout{
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}

.first-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-navigation-menu {
    margin-left: 30px;
    margin-right: 30px;
}

.s-navigation-menu {
    margin-left: 20px;
    margin-right: 20px;
}

.logo {
    margin-left: 30px;
}