* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color-main {
    color: #ff4808;
    font-weight: bold;
}

.contents-container {
    width: 70vw;
    height: 100%;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
    /* background-color: #181818; */
    display: flex;
    flex-flow: column wrap;
    background-color: #1f1f1f;
}

.contents-video-box {
    position: relative;
    padding-top: 56%;
    height: 0;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    overflow: hidden;

}

video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
}

.contents-video-box-btn-close {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    margin-left: 94%;
    margin-top: 2%;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-x {
    position: absolute;
    color: white;
    font-size: 1.5em;
    left: -10px;
    top: 0;
    cursor: pointer;
    display: flex;
}

.trailer-logo {
    position: absolute;
    width: 380px;
    height: 80px;
    display: flex;
    left: 48px;
    bottom: 135px;
    cursor: pointer;
}

.contents-video-box-btn-play {
    position: absolute;
    width: 130px;
    height: 45px;
    border-radius: 5px;
    background-color: rgba(255, 72, 8, 0.9);
    font-size: 1.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50px;
    bottom: 50px;
    cursor: pointer;
    color: #f2f2f2;
    z-index: 3;
}

.contents-video-box-btn-wish {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid gray;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 190px;
    bottom: 54px;
    cursor: pointer;
    font-size: 1.5em;
    color: white;
    z-index: 3;
}

.contents-recommend-box-btn-wish {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid gray;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    top: 20px;
    cursor: pointer;
    font-size: 1.5em;
    color: white;
    z-index: 3;
}

.contents-video-box-btn-like {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid gray;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 238px;
    bottom: 54px;
    cursor: pointer;
    font-size: 1.5em;
    color: white;
}

.contents-video-box-btn-mute {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid gray;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 40px;
    bottom: 54px;
    cursor: pointer;
    font-size: 1.5em;
    color: gray;
}

.contents-txt-box {
    width: 100%;
    height: 1995px;
    border-radius: 0px 0px 10px 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-flow: column wrap;

}

.contents-txt-box-top {
    width: 100%;
    height: 250px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.contents-txt-box-header-script-left {
    width: 68%;
    height: 250px;
    display: flex;
    flex-flow: column nowrap;
    margin-right: 33px;
}

.contents-txt-box-header-script-left-top {
    display: flex;
    align-items: center;
    flex: 0.2;
}

.contents-txt-box-header-script-left-mid {
    display: flex;
    align-items: center;
    flex: 0.2;
}

.contents-txt-box-header-script-left-bottom {
    padding-top: 30px;
    flex: 1;
    line-height: 1.6em;
    text-align: justify;
}

.contents-txt-box-header-script2-right {
    width: 28%;
    height: 300px;
    display: flex;
    flex-flow: column wrap;
}

.contents-txt-box-header-script-right-top {
    flex: 0.4;
}

.contents-txt-box-header-script-right-mid {
    flex: 0.4;
}

.contents-txt-box-header-script-right-bottom {
    flex: 1;
}

video::-webkit-media-controls {
    display: none;
}

.img-12,
.img-15 {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

h2 {
    padding-top: 10px;
    padding-bottom: 20px;
}

div,
h2,
p {
    color: white;
}

p {
    margin-bottom: 10px;
}

.contents-recommend-box {
    width: 100%;
    height: 1280px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.contents-txt-box-bottom {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.contents-txt-box-bottom p {
    display: flex;
    align-items: center;
}

body {
    /* background-image: url(./image/BGTest.png);
    background-repeat: repeat; */
    background-color: #161616;
    font-family: 'Pretendard-Regular';
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.contents-recommend-box-items {
    width: 260px;
    height: 400px;
    border-radius: 5px;
    background-color: #2f2f2f;
    display: flex;
}

.contents-recommend-box-items-img {
    width: 100%;
    height: 150px;
    border-radius: 5px 5px 0px 0px;
    text-align: end;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.recommend-items-img {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0px 0px;
    background-color: #1f1f1f;
    image-rendering: -webkit-optimize-contrast;
    transform: translateZ(0);
    backface-visibility: hidden;

}

.img-text {
    position: absolute;
    top: 8px;
    right: 10px;
    font-weight: 500;
}

.contents-recommend-box-items-txt {
    position: relative;
    width: 100%;
    height: 250px;
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
}

.contents-recommend-box-items-combine {
    width: 100%;
    height: 40px;
    padding-left: 8px;
    color: #ff4808;
    font-weight: bold;
}

.contents-recommend-box-items-ratenyear {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    font-weight: bold;
}

.contents-recommend-box-items-txt {
    width: 100%;
    height: 250px;
    padding: 8px;
    text-align: justify;
    line-height: 21.5px;
}

span {
    color: #999999;
    margin-right: 5px;
}

.gradient {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(35deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
    border-radius: 5px 5px 0px 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 8px;
}

video [poster] {
    width: 100%;
    height: 100%;
}

.contents-recommend-box-btn-hoverPlay {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid #f2f2f2;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 110px;
    bottom: 50px;
    cursor: pointer;
    font-size: 1.5em;
    color: white;
    z-index: -1;
}

.img-plus {
    width: 22px;
    height: 22px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(135deg) brightness(100%) contrast(50%);
}

.img-like {
    width: 20px;
    height: 20px;
    margin-left: 2px;
    margin-bottom: 2px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(135deg) brightness(100%) contrast(50%);
}

.img-volumeOn {
    width: 25px;
    height: 25px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(135deg) brightness(100%) contrast(50%);
}

.img-volumeOff {
    width: 25px;
    height: 25px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(135deg) brightness(100%) contrast(50%);
}

.img-close {
    width: 30px;
    height: 30px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(135deg) brightness(100%) contrast(50%);
}

.black-gradient {
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(31, 31, 31, 100) 90%);
    z-index: 4;
}

.hover-wish-text {
    visibility: hidden;
    /* 이벤트가 없으면 툴팁 영역을 숨김 */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 25px;
    /* 툴팁 영역의 넓이를 설정 */
    background-color: #fff;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 0.65em;
    position: absolute;
    /* 절대 위치를 사용 */
    bottom: 50px;
    z-index: 1;
}

.contents-video-box-btn-wish:hover .hover-wish-text {
    visibility: visible;
    /* hover 이벤트 발생시 영역을 보여줌 */
}

.hover-like-text {
    visibility: hidden;
    /* 이벤트가 없으면 툴팁 영역을 숨김 */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 25px;
    /* 툴팁 영역의 넓이를 설정 */
    background-color: #fff;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 0.65em;
    position: absolute;
    /* 절대 위치를 사용 */
    left: -8px;
    bottom: 50px;
    z-index: 1;
}

.contents-video-box-btn-like:hover .hover-like-text {
    visibility: visible;
    /* hover 이벤트 발생시 영역을 보여줌 */
}