*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #121212;
    height: 1600px;
}

.container{
    
    height: 600px;
    text-align: center;
    align-items: center;
}
#mon{
    color: white;
}
h1{
    margin-top: 140px;
    font-size: 40px;
    color: white;
}
#logo{
    width: 150px;
    height: 50px;

}
.mid{
    
    height: 250px;
}
span{
    color: white;
}
a{
    color: white;
}
.top{
    color: white;
    height: 100px;
}
#arrow{
    color: white;
    position:absolute;
    transition: all 3s 0s ease-in;
}

.title{
    color: white;
    font-size: bold;
    animation-name: arrowdownani;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    cursor: pointer;
}
@keyframes arrowdownani{
    0%{
        height: 20px;
    }
    100%{
        height: 35px;
    }
}
.boxtitle{
    text-align: left;
    font-size: bold;
}
.box{
    width: 50%;
    
    height: auto;
    margin: 0 auto;
    text-align: left;
    background-color: white;
    border-radius: 4px;
}
.box1{
    
    margin-bottom: 10px;
    padding: px;
    
}
.box2{
    
}
span{
    color: black;
    
    font-size: 18px;

}
#boximg{
    margin-right: 10px;
}
.line{
    width: 100%;
    height: 1px;
    border: 1px solid gray;
    margin: 0 auto;
}
.tras{
    color: white;
    margin-top: 8px;
    align-items: center;
    margin-bottom: 8px;
}
h4{
    color: white;
    text-align: left;
    
}
.link{
    width: 50%;
    margin-top: 25px;
    margin: 0 auto;
}
.help{
    width: 50%;
    
    
    margin-top: 20px;
    margin: 0 auto;
}
p{
    text-align: left;
    font-size: bold;
}
@font-face {
font-family: 'Pretendard-Regular';
src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
font-weight: 400;
font-style: normal;
}
body {
font-family: 'Pretendard-Regular';
}
#btn{
    width: 220px;
    height: 50px;
    background-color: white;
    border: 0px;
    border-radius: 8px;
    margin-left: -60px;
    font-size: 22px;
}
.footer{
    width: 50%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}
.footers{
    color: white;
    margin-top: 60px;
   
   align-items: center;
    
    justify-content: space-between;

}
a:hover{
    color: #ff4808;
}
#seq{
    width: 500px;
    height: 30px;
    margin-top: -15px;
    margin-left: -550px;
    border: 0px;    
    font-size: 22px;
    
    
   
}
#whiteimg{
   
    filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(298deg) brightness(101%) contrast(102%);
  margin-right: 15px;
  
}
.title:hover{
    color: #ff4808;
}
input:focus{
    outline: none;
}
#imgsearch2{
    margin: 0 auto;
    z-index: -1;
    margin-left: -30px;
    border-radius: 4px;
   
}



/* -------------------------------------------------------------------------  */

.collapsible {
    background-color: #2f2f2f;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    margin-top: 10px;  /* 공간 */
}
.active,
.collapsible:hover {
    background-color: #555;
}
.content {
    padding: 0 18px;
    width: 50%;
    max-height: 0;
    margin: 0 auto;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #2f2f2f;
    color: white;
}
.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2212";
}
a{
    text-decoration: none;
}
code{
    color: #ff4808;
}
.header {
    height: 70px;
    background-color: #1f1f1f;
    opacity: 0.8;
    
    position: sticky;
    top: 0;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.first-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 540px;
    list-style: none; /* li 점 없애는!*/
}

.first-navigation li a {
    position: relative;
    color: white;
}

.first-navigation li a::before {
    content: ""; /* 가상요소 사용할때 꼭 같이 사용 */
    height: 3px;
    width: 0;
    background-color: #ff4808;
    border-radius: 5px;
    transition: all 0.3s;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.first-navigation li a:hover::before {
    width: 100%;
}

.home, .drama, .movie, .logo, .search, .logout{
    text-decoration: none;
    color: white;
    transition: all 0.3s;
}

.logout {
    font-size: 20px;
}

.home:hover, .movie:hover, .drama:hover {
    color:#ff4808;
}

.second-navigation {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

.search {
    font-size: 20px;
}


.profile-image {
    width: 40px;
    height: 40px;
    background-image: url('/1project/resource/image/profile_img/avatar01.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}


.dropdown-profile {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    width : 150px;
    margin-left: -80px;
    background-color: #1f1f1f;
    text-align: center;
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

.dropdown-content a:hover {
    background-color: #737373;
}

.dropdown-profile:hover .dropdown-content {
    display: block;
}

.dropdown-profile-transform {
    width: 150px;
    height: 60px;
    border-bottom: 1px solid #737373;
}

.dropdown-profile-box {
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 20px;
    margin-left: 10px;
}

.dropdown-profile-image {
    width: 40px;
    height: 40px;
    background-image: url('/1project/resource/image/profile_img/avatar01.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.dropdown-profile-btn {
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s;
    margin-left: 10px;
}

.dropdown-profile-btn:hover {
    color: #737373;
}

.redfont{
color: #ff4808;
}