* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #161616;
    font-family: 'Pretendard-Regular';
    overflow-x: hidden;
    opacity: 0; /* 페이지 로드시 초기 투명도를 0으로 설정*/
    transition: opacity 1s; /* 투명도 전환 효과를 1초 동안 적용*/
}

.header {
    height: 70px;
    background-color: #1f1f1f;
    opacity: 0.9;
    
    position: sticky;
    top: 0px;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.first-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 540px;
    list-style: none; /* li 점 없애는!*/
}

.first-navigation li a {
    position: relative;
    color: white;
}

.first-navigation li a::before {
    content: ""; /* 가상요소 사용할때 꼭 같이 사용 */
    height: 3px;
    width: 0;
    background-color: #ff4808;
    border-radius: 5px;
    transition: all 0.3s;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.first-navigation li a:hover::before {
    width: 100%;
}

.home, .drama, .movie, .logo, .search, .logout{
    text-decoration: none;
    color: white;
    transition: all 0.3s;
}

.logout {
    font-size: 20px;
}

.home:hover, .movie:hover, .drama:hover {
    color:#ff4808;
}

.second-navigation {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

.search {
    font-size: 20px;
}


.profile-image {
    width: 40px;
    height: 40px;
    background-image: url('/1project/image/profile_img/avatar01.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}


.dropdown-profile {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    width : 150px;
    margin-left: -80px;
    background-color: #1f1f1f;
    text-align: center;
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

.dropdown-content a:hover {
    background-color: #737373;
}

.dropdown-profile:hover .dropdown-content {
    display: block;
}

.dropdown-profile-transform {
    width: 150px;
    height: 60px;
    border-bottom: 1px solid #737373;
}

.dropdown-profile-box {
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 20px;
    margin-left: 10px;
}

.dropdown-profile-image {
    width: 40px;
    height: 40px;
    background-image: url('/1project/image/profile_img/avatar01.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.dropdown-profile-btn {
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s;
    margin-left: 10px;
}

.dropdown-profile-btn:hover {
    color: #737373;
}

.movie-main1 {
    width: 100%;
    height: 500px;
}

.main1-background {
    width: 100vw;
    height: 700px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
}

.main1-background::before{
    content: "";
    background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.1) 25%,
    rgba(0, 0, 0, 0.3) 40%,
    rgba(0, 0, 0, 0.5) 65%,
    rgba(0, 0, 0, 0.8) 100%
    ), url(/1project/image/main_img/검색\ 배경.jfif);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.main1-background img {
    z-index: 1;
    width: 35%;
}

.movie-main2, .movie-main3, .movie-main4, .movie-main5, .movie-main6 {
    height: 250px;
    margin-top: 30px;
}



.movie-slider{
    position: relative;
}


.main-font {
    margin-left: 30px;
    margin-bottom: 20px;
    color: white;
    font-size: 25px;
    font-weight: 800;
    position: relative;
}

.box-container {
    height: 150px;
    display: flex;
}


.btn-next, .btn-prev {
    width: 20px;
    line-height: 150px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.5s;
    z-index: 1;
    opacity: 0;
}

.btn-prev:hover, .btn-next:hover {
    transform:scale(1.5);
    opacity: 1;
}

.btn-prev {
    padding-left: 15px;
}

.btn-next {
    padding-right: 40px;
}

.slide-wrapper {
    position: relative;
    /* width: 1520px; */
    width: 100vw;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
    /* overflow: hidden; */
}

.slides .slide {
    width: 250px;
    height: 150px;
    float: left;
    /* box-shadow: 5px 5px #2f2f2f; */
    list-style-type: none;
}

.slides::after { /* float된 요소의 부모요소에 걸어준다 */
    content: "";
    display: block;
    clear: both;
}

.slides .slide img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    
    image-rendering:-webkit-optimize-contrast;
    transform:translateZ(0);
    backface-visibility:hidden;
}

.slides {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
}

.slides.animated {
    transition: 0.5s ease-out;
}


.slides li:not(:last-child) {
    margin-right: 30px;
}

.slide, .wacthing-slide {
    border-radius: 5px;
    transition: all 0.1s linear;
}

.slide:hover {
    transform:scale(1.1);
    border-radius: 3px;
    border: 3px solid white;
}


.image-container {
    position: relative; /* overlay-image 시작점 */
    width: 100%;
    height: 100%;
}

.overlay-image {
    position: absolute;
    top: 90px;
    left: -40px;    
    z-index: 1; 
    opacity: 0.3;
}


.movie-main0 {
    margin-top: 70px;
    margin-bottom: 70px;
}

.movie-main0 .slides {
    margin-left: 20px;
}

.movie-main0 a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.movie-main0 .watching-caption {
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    opacity: 0;
    transition: all 0.3s;
}

.movie-main0 a:hover .watching-caption {
    opacity: 0.9;
}

.caption1 {
    padding-top: 20px;
    padding-left: 25px;
    font-size: 20px;
}

.caption0 {
    padding-top: 10px;
    padding-left: 25px;
}

.caption2 {
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

.caption3 {
    padding-left: 15px;
    font-size: 20px;
}

.caption4 {
    font-size: 15px;
    padding-left: 30%;
}

.progress {
    width: 200px;
    height: 5px;
    background-color: #999999;
    position: relative;
    margin: 0 auto;
}

.progressbar1, .progressbar2 {
    height: 5px;
    background-color: #ff4808;
    position: absolute;
}

.progressbar1 {
    width: 64%;
}

.progressbar2 {
    width: 98%;
}


.footer {
    width: 100%;
    height: 100%;
    background-color: #171717;
    /* margin-top: 50px; */
    opacity: 0.95;
    font-size: 11px;   
}

.footer-logo {
    text-align: center;
    margin-bottom: 10px;
}


.question {
    color: #737373;
    margin-bottom: 20px;
    text-align: center;
}

.info-container {
    display: flex;
    justify-content: center;
}

.info {
    color: #737373;
    padding-bottom: 6px;
    text-align: center;
}

.info-end {
    padding-bottom: 20px;
}

.sns {
    color: #737373;
    text-align: center;
}

.instagram , .facebook, .youtube {
    font-size: 20px;
    cursor: pointer;
    margin: 20px 10px;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}