    * {
        margin: 0px;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #161616;
        font-family: 'Pretendard-Regular';
        overflow-x: hidden ;
        opacity: 0; /* 페이지 로드시 초기 투명도를 0으로 설정*/
        transition: opacity 1s; /* 투명도 전환 효과를 1초 동안 적용*/
    }

    .header {
        height: 70px;
        background-color: #1f1f1f;
        opacity: 0.9;

        position: sticky;
        top: 0px;
        z-index: 1;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .first-navigation {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 540px;
        list-style: none; /* li 점 없애는!*/
    }

    .first-navigation li a {
        position: relative;
        color: white;
    }

    .first-navigation li a::before {
        content: ""; /* 가상요소 사용할때 꼭 같이 사용 */
        height: 3px;
        width: 0;
        background-color: #ff4808;
        border-radius: 5px;
        transition: all 0.3s;
        position: absolute;
        bottom: -10px;
        left: 0;
    }
    
    .first-navigation li a:hover::before {
        width: 100%;
    }



    .home, .drama, .movie, .logo, .search, .logout{
        text-decoration: none;
        color: white;
        transition: all 0.3s;
    }

    .logout {
        font-size: 20px;
    }

    .home:hover, .movie:hover, .drama:hover {
        color:#ff4808;
    }

    .second-navigation {
        width: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 30px;
    }

    .search {
        font-size: 20px;
    }


    .profile-image {
        width: 40px;
        height: 40px;
        background-image: url('../../resource/image/profile_img/avatar01.png');
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
    }

    
    .dropdown-profile {
        position: relative;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        width : 150px;
        margin-left: -80px;
        background-color: #1f1f1f;
        text-align: center;
    }

    .dropdown-content a {
        display: block;
        text-decoration: none;
        color: white;
        padding: 10px 20px;
    }

    .dropdown-content a:hover {
        background-color: #737373;
    }

    .dropdown-profile:hover .dropdown-content {
        display: block;
    }

    .dropdown-profile-transform {
        width: 150px;
        height: 60px;
        border-bottom: 1px solid #737373;
    }

    .dropdown-profile-box {
        display: flex;
        justify-content: center;
        align-items:center;
        margin-top: 20px;
        margin-left: 10px;
    }

    .dropdown-profile-image {
        width: 40px;
        height: 40px;
        background-image: url('../../resource/image/profile_img/avatar01.png');
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
    }

    .dropdown-profile-btn {
        color: white;
        font-size: 15px;
        margin-left: 10px;
        cursor: pointer;
        transition: all 0.2s;
    }

    .dropdown-profile-btn:hover {
        color: #737373;
    }

    .scroll {
        display: flex;
        justify-content: flex-end;
    }
    
    #btnScrollTo {
        width: 50px;
        height: 60px;
        border: none;
        border-radius: 10px;
        background-color: transparent;
        color: white;
        font-size: 16px;
        font-weight: 500;
        position: fixed;
        bottom: 50px;
        cursor: pointer;
        z-index: 3;
        transition: all 0.3s;
    }
    
    #btnScrollTo:hover {
        background-color: #ff4808;
        border-radius: 10px;
        opacity: 0.8;
    }

    .search-input {
        width: 100%;
        height: 100px;
        background: linear-gradient(
        #2f2f2f, #595959);
        color: white;
        outline: none;
        border: none;
        padding-left: 70px;
        font-size: 35px;
    }

    input::-ms-clear, input::-ms-reveal {
        display:none;
        width:0;
        height:0;
    }

    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button,
    input::-webkit-search-results-button,
    input::-webkit-search-results-decoration {
        display:none;
    }

    input:focus::placeholder{
        color:transparent;
    }

    form {
        position: relative;
    }

    .btn-reset {
        position: absolute;
        color: #e5e5e5;
        font-size: 30px;
        width: 50px;
        height: 50px;
        top: 25px;
        bottom: 0;
        right: 40px;
        margin: 0 auto;
        outline: none;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .search-container {
        width: 100%;
        margin: 0 auto;
        padding: 50px 70px;
    }

    .search-title {
        color: #e5e5e5;
        font-size: 20px;
        margin-left: 1%;
    }
    
    .search-content-boxes {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 5% 0px 0px -20px;
    }

    .search-content-box img {
        width: 260px;
        height: 150px;
        border-radius: 5px;
        transition: all 0.1s linear;
        margin-bottom: 30px;
        margin-left: 20px;
    }


    .search-content-box img:hover {
        transform:scale(1.1);
        border-radius: 10px;
        border: 3px solid white;
    }


    .footer {
        width: 100%;
        height: 100%;
        background-color: #171717;
        /* margin-top: 50px; */
        opacity: 0.95;
        font-size: 11px;   
    }

    .footer-logo {
        text-align: center;
        margin-bottom: 10px;
    }


    .question {
        color: #737373;
        margin-bottom: 20px;
        text-align: center;
    }

    .info-container {
        display: flex;
        justify-content: center;
    }

    .info {
        color: #737373;
        padding-bottom: 6px;
        text-align: center;
    }

    .info-end {
        padding-bottom: 20px;
    }

    .sns {
        color: #737373;
        text-align: center;
    }

    .instagram , .facebook, .youtube {
        font-size: 20px;
        cursor: pointer;
        margin: 20px 10px;
    }

    @font-face {
        font-family: 'Pretendard-Regular';
        src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }